.ant-layout{
  resize: none;
  outline: none;
  width: 100%;
  padding: 2px;
  border: none;
  height: 100%;
}
textarea{
  width: 100%;
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
 rows: 10;
}
