.container{
  width:100%;
  height: 100%;
}
.login-layout{
  width: 100%;
  height: 100%;
  text-align: center;
}
.login-form {
  width:100%;
  height:100%;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 25%;
}
